<div class="card question-card">
    <div class="card-body assessment-question">
        <div id="question-container-1" style="text-align: center !important; align-items: center !important;">
            
        </div>
        <div id="recording-container-0"  class="m-3">
            <button class="startBtn btn btn-primary">Answer Queston <i class="fa-solid fa-microphone"></i></button>
            <button class="stopBtn btn btn-danger" disabled>Submit the Answer</button>
            <div class="output" id="output_0" style="display:none"></div>
        </div>
        <div id="question-btn">
            <!-- <button type="button" class="btn btn-primary"  onclick="prevStep()">Previous</button> -->
            <button type="button"  class="btn btn-primary"  onclick="nextStep()">Next</button>
        </div>       
    </div>
</div>